body {
	background-color: black;

}

.instructions1{
	
	height:300px;
	width: 300px;
	float:right;
	margin-right: 350px;
	margin-top: 60px;
}

.instructions2{
	
	height:300px;
	width: 300px;
	float:right;
	margin-right: 20px;
	margin-top: 30px;
}
.instructions2,
.instructions1 > h3{
text-align: center;
text-transform: uppercase;
font-size: 2em;
float: right;
display:block;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}
.logo{
float:right;
margin-top: 100px;
margin-right:350px;
}

.ryu {
	width: 659px;
	height: 494px;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');

}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
	
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
	
}

.hadouken, .ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool{
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	top: 167px;
	left: 520px;
	z-index: 10;
}
